@import "tailwindcss";
@reference "../app.css";

@theme {
  --color-frame: #fafafa;
  --color-tab_text: black;
  --color-tab_background_text: black;
  --color-tab_selected: #c9c9c9;
  --color-tab_line: #f0f0f0;
}

@theme {
  --color-toolbar: #efefef;
  --color-toolbar_vertical_separator: #e0e0e0;
}

/* Chrome Catppuccin Macchiato theme for testing compatability */
/* :root {
  --color-frame: rgb(24, 25, 38);
  --color-frame_inactive: rgb(24, 25, 38);
  --color-bookmark_text: rgb(202, 211, 245);
  --color-tab_background_text: rgb(184, 192, 224);
  --color-tab_background_text_inactive: rgb(165, 173, 203);
  --color-tab_text: rgb(202, 211, 245);
  --color-toolbar: rgb(36, 39, 58);
  --color-toolbar_button_icon: rgb(202, 211, 245);
  --color-button_background: rgb(24, 25, 38);
} */

/* Should each of these have their own internal css color varaible so we can have a coherent
 * hierarchy for different color properties applying to the same element simultaneously? */
.tab-bar {
  @apply bg-frame border-toolbar/50 flex h-11 w-full border-b;

  -webkit-app-region: drag;
  app-region: drag;

  .tab-section:nth-child(3) {
    @apply flex-1 pr-1;
  }

  .tab-section {
    @apply flex gap-1 py-1 pl-1;

    .tab {
      @apply text-tab_background_text bg-frame border-toolbar_vertical_separator flex h-9 w-48 items-center justify-center gap-2 rounded-md py-1 pr-2 pl-3 text-sm transition-colors;

      -webkit-app-region: no-drag;
      app-region: no-drag;

      .text {
        @apply flex-1 text-xs;
      }

      .button {
        @apply bg-frame text-sm;
      }

      &.active {
        @apply bg-toolbar border-tab_line text-tab_text;

        .button {
          @apply bg-toolbar;
        }
      }

      &:hover {
        @apply brightness-125;
      }

      &.pinned {
        @apply w-9 p-0;

        label,
        .button {
          @apply hidden;
        }
      }

      .button {
        @apply flex h-5 w-5 items-center justify-center rounded transition-all;
      }

      .button:hover {
        @apply brightness-150;
      }
    }
  }

  .overlay-spacer-left {
    @apply shrink-0;

    width: env(titlebar-area-x, 0);
    flex-shrink: 0;
  }

  .overlay-spacer-right {
    @apply shrink-0 justify-end;

    width: calc(
      100vw - env(titlebar-area-x, 0) - env(titlebar-area-width, 100vw)
    );
  }
}
