@import "tailwindcss";
@reference "../app.css";

@theme {
  --color-frame: #fafafa;
  --color-tab_text: black;
  --color-tab_selected: #c9c9c9;
  --color-tab_line: #f0f0f0;
}

@theme {
  --color-toolbar: inherit;
  --color-toolbar_button_icon: inherit;
  --color-button_background: inherit;
  --color-toolbar_vertical_separator: #e0e0e0;
  --color-toolbar_button_icon: black;
}

.tool-bar {
  @apply bg-toolbar text-toolbar_button_icon flex h-10 w-full items-center gap-2 px-2;

  .browser-button {
    @apply bg-toolbar flex h-6 w-6 items-center justify-center rounded text-lg transition-colors;

    &:hover {
      @apply brightness-75;
    }

    &.disabled {
      @apply opacity-50;
    }
  }

  .url-bar {
    @apply bg-frame mx-1 flex h-7 flex-1 items-center justify-center gap-2 overflow-hidden rounded px-0.5 text-sm whitespace-nowrap;

    .browser-button {
      @apply bg-frame;

      &:hover {
        @apply bg-toolbar brightness-90;
      }
    }

    .input {
      @apply flex-1 text-sm;

      .hostname {
        @apply brightness-125;
      }
    }
  }

  .addon-section {
    @apply flex items-center gap-1;
  }
}
