@import "tailwindcss";
@reference "../app.css";

@theme {
  --color-frame: #fafafa;
  --color-tab_text: black;
  --color-tab_selected: #c9c9c9;
  --color-tab_line: #f0f0f0;
}

@theme {
  --color-toolbar: #efefef;
  --color-toolbar_button_icon: inherit;
  --color-button_background: inherit;
  --color-toolbar_vertical_separator: #e0e0e0;
  --color-toolbar_button_icon: black;
}

.tool-bar {
  @apply w-full bg-toolbar h-10 flex items-center gap-2 px-2 text-toolbar_button_icon;

  .browser-button {
    @apply text-lg w-6 h-6 bg-toolbar rounded flex items-center justify-center transition-all;

    &:hover {
      @apply brightness-75;
    }

    &.disabled {
      @apply opacity-50;
    }
  }

  .url-bar {
    @apply flex-1 flex items-center justify-center h-7 rounded px-0.5 gap-2 text-sm bg-frame mx-1;

    .browser-button {
      @apply bg-frame;

      &:hover {
        @apply brightness-90 bg-toolbar;
      }
    }

    input {
      @apply flex-1 text-sm;
    }
  }
}
